{% load static i18n %}
<!--Footer-->
<footer>
    <div class="content">
        <div class="wrapper">
            <div class="col">
                <h1>{% trans "Aide" %} <img src="{% static 'images/To bottom.png' %}" alt=""></h1>
                <div class="dropdown">
                    <a href="#">{% trans "Questions frequentes" %}</a>
                    <a href="#">{% trans "Faire un retour" %}</a>
                </div>
            </div>
            <div class="col">
                <h1>{% trans "Company" %} <img src="{% static 'images/To bottom.png' %}" alt=""></h1>
                <div class="dropdown">
                    <a href="#">{% trans "Nous" %}</a>
                    <a href="#">{% trans "Participer avec nous" %}</a>
                </div>
            </div>
        </div>
        <div class="wrapper_list">
            <div class="col">
                <h1>{% trans "Our App" %} <img src="{% static 'images/To bottom.png' %}" alt=""></h1>
                <div class="dropdown">
                    <div class="imgs">
                        <img class="apps" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/footer/downloadApp/ios.png" alt="">
                        <img class="apps" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/footer/downloadApp/android.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <h1>{% trans "Payment" %} <img src="{% static 'images/To bottom.png' %}" alt=""></h1>
                <div class="dropdown">
                    <div class="imgs">
                        <img class="card" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/payment/VISA.svg" alt="">
                        <img class="card" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/payment/MasterCard.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter">
            <div class="col">
                <h1>{% trans "Newsletter" %}<img src="{%static 'images/To bottom.png'%}" alt=""></h1>
                <div class="dropdown">
                    <form method="post" action="{% url 'newsletter:subscribe_newsletter' %}">
                        {% csrf_token %}
                        {{ subscriber_form.email }}
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="message"><path fill="#FFFFFF" d="M20.34,9.32l-14-7a3,3,0,0,0-4.08,3.9l2.4,5.37h0a1.06,1.06,0,0,1,0,.82l-2.4,5.37A3,3,0,0,0,5,22a3.14,3.14,0,0,0,1.35-.32l14-7a3,3,0,0,0,0-5.36Zm-.89,3.57-14,7a1,1,0,0,1-1.35-1.3l2.39-5.37A2,2,0,0,0,6.57,13h6.89a1,1,0,0,0,0-2H6.57a2,2,0,0,0-.08-.22L4.1,5.41a1,1,0,0,1,1.35-1.3l14,7a1,1,0,0,1,0,1.78Z"></path></svg>
                        </button>
                    </form>
                    <!-- non-field errors -->
                    {% if subscriber_form.non_field_errors %}
                        {% for error in subscriber_form.non_field_errors %}
                            <p class="errors"> * {{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <h1>{% trans "Suivez-nous !" %}<img src="{%static 'images/To bottom.png'%}" alt=""></h1>
                <div class="dropdown">
                    <div class="imgs">
                        <img class="social" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/footer/social/21/tiktok.png" alt="">
                        <img class="social" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/footer/social/21/instagram.png" alt="">
                        <img class="social" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/footer/social/21/facebook.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_bottom">
        <ul>
            <li>{% trans "Cookie Preferences" %}</li>
            <li>{% trans "Privacy Policy" %}</li>
            <li>{% trans "Purchase Conditions" %}</li>
            <li>{% trans "Cookie Policy" %}</li>
            <li>{% trans "T&C Senuoy Community" %}</li>
        </ul>
    </div>
</footer>

<script src="{% static 'js/footer.js' %}"></script>
